<div class="container">
  <div class="jumbotron my-5 bg-dark text-light">
    <h1>Movie Tracker</h1>
    <p>Movie tracker is a lightweight web app for tracking favourite movies or discovering new movies, use it and
      <i class="fas fa-heart text-danger"></i> it</p>
  </div>
</div>